<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <settings>
            <!-- You can list new field names seperated by comma(,) -->
            <setting name="RssFeedAddtionalFields.Fields.FieldNames" value="ThumbnailImage,Categories,Tags" />
            <setting name="RssFeedAddtionalFields.Pipelines.RenderField" value="renderField" />
        </settings>
    </sitecore>
</configuration>